<section id="intro" class="text-white">
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/img/profile.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500"
          loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Hello, I'm Alexander Yu: <br /> Full-Stack Developer</h1>
        <p class="lead">I am currently attending the U.C. Berkeley Extension Full-time Full-Stack Flex Boot Camp. At my
          current stage, I have completed an assortment of different assignments, each highlighting my proficiency on
          the programming languages and additional javascript libraries that I can use. The projects in this portfolio
          show my competence in several web design coding languages such as HTML, CSS, Javascript, and jQuery along with
          additional frameworks, libraries, and third party APIs. My latest milestone is learning the usage of Node.js and creating fullstack applications using the Node.js packages such as Express to link a back end database such is MySQL to a front end display, such as HandleBars.</p>
      </div>
    </div>
  </div>
</section>