<section id="projects">
  <h1 class="text-white">Projects</h1>

  <div class="row mb-3">
    <div class="col-md-12">
      <a href="https://github.com/AcedYu/Game-of-Bones" target="_blank">
        <div class="card bg-dark text-white">
          <img src="/img/cardgame.png" class="card-img" alt="Could not load properly">
          <div class="card-img-overlay">
            <h3 class="card-title">Card Game</h3>
            <p class="card-text">
              <img src="/img/handlebarslogo.png" alt="Failed to load" />
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="container card-group row-cols-2">
    <div class="col">
      <a href="https://github.com/AcedYu/14-model-view-controller-tech-blog" target="_blank">
        <div class="card bg-dark h-100">
          <img src="/img/techblog.png" class="card-img" alt="Failed to load">
          <div class="card-img-overlay">
            <h3 class="card-title text-dark">Tech Blog</h3>
            <p class="card-text">
              <img src="/img/handlebarslogo.png" />
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a href="https://github.com/AcedYu/gamehub" target="_blank">
        <div class="card bg-dark text-white h-100">
          <img src="/img/gamehub.png" class="card-img" alt="Could not load properly">
          <div class="card-img-overlay">
            <h3 class="card-title">Gamehub</h3>
            <p class="card-text">
              <img src="/img/jquerylogo.png" alt="Failed to load" />
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a href="https://github.com/AcedYu/12-employee-management-system" target="_blank">
        <div class="card bg-dark text-white h-100">
          <img src="/img/teamgenerator.png" class="card-img" alt="Could not load properly">
          <div class="card-img-overlay">
            <h3 class="card-title">Employee Management System</h3>
            <p class="card-text">
              <img src="/img/nodejslogo.png" alt="Failed to load" />
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a href="https://github.com/AcedYu/6-weather-dashboard" target="_blank">
        <div class="card bg-dark text-blue h-100">
          <img src="/img/weatherdash.png" class="card-img" alt="Could not load properly">
          <div class="card-img-overlay">
            <h3 class="card-title bg-white">Weather Dashboard</h3>
            <p class="card-text">
              <img src="/img/jquerylogo.png" alt="Failed to load" />
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a href="https://github.com/AcedYu/4-code-quiz" target="_blank">
        <div class="card bg-dark text-black h-100">
          <img src="/img/codequiz.png" class="card-img" alt="Failed to load">
          <div class="card-img-overlay">
            <h3 class="card-title">Code Quiz</h3>
            <p class="card-text">
              <img src="/img/javascriptlogo.png" />
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a href="https://github.com/AcedYu/password-generator" target="_blank">
        <div class="card bg-dark text-black h-100">
          <img src="/img/passwordgenerator.png" class="card-img" alt="Failed to load">
          <div class="card-img-overlay">
            <h3 class="card-title">Password Generator</h3>
            <p class="card-text">
              <img src="/img/javascriptlogo.png" />
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
  </div>
</section>